<% include layout/header.ejs %>

<!-- START CENTERED WHITE CONTAINER -->
<table role="presentation" class="main">

    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h2>To recover your password (generate randomly), go to the links below.</h2>
                        <p><a href="<%= host %>/confirm-restore-password/<%= token %>">Link</a></p>
<!--                        <p><button onclick="send()">Link</button></p>-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- END MAIN CONTENT AREA -->
</table>

<!--<input type="text" placeholder="name" id="uname" value="password"/>-->
<!--<input type="button" value="submit" onclick="send()"/>-->

<!--<script>-->
<!--    let uname = document.querySelector("#uname");-->

<!--    function send() {-->
<!--        console.log(uname.value);-->
<!--    }-->
<!--</script>-->
<!-- END CENTERED WHITE CONTAINER -->

<% include ./layout/footer %>